<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Quotes</key>
	<array>
		<string>Respect yourself and others will respect you.</string>
		<string>It takes courage to grow up and become who you really are.</string>
		<string>When making your choices in life, do not forget to live.</string>
		<string>Wherever you go, go with all your heart.</string>
		<string>If you cannot be a poet, be the poem.</string>
		<string>Everything has beauty, but not everyone sees it.</string>
		<string>One hundred percent of the shots you don&apos;t take don&apos;t go in.</string>
		<string>Life shrinks or expands in proportion to one&apos;s courage.</string>
		<string>You may have a fresh start any moment you choose, for this thing we call &apos;failure&apos; is not the falling down, but the staying down.</string>
		<string>The first step to getting the things you want out of life is this: decide what you want.</string>
		<string>Be the change you want to see in the world.</string>
		<string>Nobody can go back and start a new beginning, but anyone can start today and make a new ending.</string>
		<string>Vision is the art of seeing things invisible.</string>
		<string>A good laugh is sunshine in a house.</string>
		<string>The best time to do something worthwhile is between yesterday and tomorrow.</string>
		<string>To live is the rarest thing in the world. Most people exist, that&apos;s all.</string>
		<string>Start by doing what&apos;s necessary; then do what&apos;s possible; and suddenly you are doing the impossible.</string>
		<string>The measure of who we are is what we do with what we have.</string>
		<string>From a small seed a mighty trunk may grow.</string>
	</array>
</dict>
</plist>
