<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Quotes</key>
	<array>
		<string>Als je met beide benen op de grond staat, kom je geen stap verder.</string>
		<string>Als je waagt, groeit je moed. Als je aarzelt, groeit je vrees.</string>
		<string>Angst voor morgen komt een dag te vroeg.</string>
		<string>Beken kleur. Wees wie je bent. Dan stralen je ogen.</string>
		<string>Het is niet de berg die wij overwinnen maar onszelf.</string>
		<string>Iemand met een nieuw idee is een vreemde vogel, tot het idee blijkt te werken...</string>
		<string>Ik ben geen mislukkeling. Ik heb alleen 10.000 manieren gevonden die niet werken.</string>
		<string>Ik kom op het leven af en het leven op mij, dat botst soms een beetje.</string>
		<string>Je bent het resultaat van alle vroegere afbeeldingen die je voor jezelf geschilderd hebt. En je kunt altijd nieuwe schilderen.</string>
		<string>Je kleiner voordoen dan je bent, bewijst de wereld geen dienst.</string>
		<string>Jezelf afmeten naar je geringste daad is de kracht van de oceaan bepalen naar de luchtigheid van haar schuim.</string>
		<string>Laat zien wie je bent, los van verwachtingen, los van goedkeuring.</string>
		<string>Pas wanneer je ten einde raad je angst om de hals durft te vallen, zal hij je nooit meer naar de keel vliegen.</string>
		<string>Pluk de dag, en laat nog wat hangen voor morgen.</string>
		<string>Waar je ook staat, je staat altijd wel op iemands tenen.</string>
		<string>Wees jezelf, er zijn al anderen genoeg.</string>
		<string>Wees niet bang een stukje van jezelf te geven; het groeit allemaal weer aan.</string>
		<string>Wie als kind is gekreukeld, moet als volwassene leren strijken.</string>
		<string>Wie angst heeft voor de toekomst, heeft die toekomst al half bedorven.</string>
		<string>Zij die geen angst kennen, kennen geen moed. Want werkelijke moed is het overwinnen van de angst.</string>
		<string>Tegen de stroom ingaan is de enige manier om bij de bron te komen.</string>
	</array>
</dict>
</plist>
